@import url('https://fonts.googleapis.com/css?family=Coiny');

.title {
  font-family: 'Coiny', cursive;
}

.search-bar {
  text-align: center;
  padding: 1.5rem;
  background-color: #FE9A76;
  border-radius: 10px;
}

.search-bar input {
  background-color: #FE9A76 !important;
  outline: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid black !important;
  font-size: 2rem !important;
}

.search-bar input:focus {
  outline: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid black !important;
  font-size: 2rem !important;
}
